@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  box-sizing: border-box;
}
:root{
  background-color: #E7D4B5;
  font-family: "JetBrains Mono", monospace;
}

@theme {
  --color-brown : #b1a38a;
  --color-beige : #E7D4B5;
  --color-beige-lighter : #F6E6CB;
  --color-green : #a4b19b;
  --color-green-lighter : #deecd5;

  --font-jetbrains : "JetBrains Mono", monospace;
}
